[Unit]
Description=Fallback check for Context Guard Cloud backup retention

[Timer]
OnActiveSec=30s
OnCalendar=*:0/15
Persistent=true
AccuracySec=1min
Unit=context-guard-cloud-backup-retention.service

[Install]
WantedBy=timers.target
